.box-cont{
    display: grid;
    place-items: center;
}
.box-wrapper{
    aspect-ratio: 1/1;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    border: 3px solid #bcbcbc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box-item{
    outline: none;
    padding: 5px;
    display: grid;
    place-items: center;
}
.xo {
    width: 100%;
    height: 100%;
    font-size: 6vw;
}
.xo::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.custom-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 3px 3px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.button-group{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.reset-Btn {
    display: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: clamp(1rem, 0.7083rem + 1.3333vw, 1.075rem);
    text-transform: uppercase;
}
.stop-Btn{
    display: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: clamp(1rem, 0.7083rem + 1.3333vw, 1.075rem);
    text-transform: uppercase;
}
button:disabled {
    @apply bg-slate-200;
}

