:root{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body::-webkit-scrollbar{
    display: none;
}
footer{
    height: 11vh;
}
.plyr1{
    width: 55%;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
}
.plyr2{
    width: 55%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.header-icon{
    position: absolute;
    font-weight: bolder;
    font-size: clamp(7.5rem, 3.7083rem + 7.3333vw, 9.875rem)
}
.plyr1 .header-icon{
    left: -3%;
    color: #5a46c9;
}
.plyr2 .header-icon {
    right: -3%;
    top: -30%;
    color: #349c4b;
    font-size: clamp(7.5rem, 5.7083rem + 7.3333vw, 9.875rem)
}
.name-header{
        width: calc(100% - 24px);
        height: 30%;
        padding: 0 11px;
        text-transform: capitalize;
        font-size: clamp(.9rem, 0.7083rem + 1.3333vw, 1.6rem);
        font-weight: bolder;
        z-index: 1;
    }
    .name-input{
        width: calc(40%);
        height: 70%;
        padding: 10px;
        font-weight: bolder;
        letter-spacing: 2px;
        color: azure;
        font-size: clamp(1rem, 0.7083rem + 1.3333vw, 2.875rem);
        outline: none;
        outline-offset: 0;
        opacity: 0;
        transition: opacity .3s linear;
        z-index: 1;
    }
    .plyr2 .name-input{
        width: calc(60% - 24px);
        height: calc(100% - 24px);
        text-align: right; 
    }  
    .plyr2 .name-header{
        text-align: right;
    }
    .name-input:focus{
        opacity: 1;
    }
    .score-counter{
        width: 70px;
        height: 70px;
        display: grid;
        place-items: center;
        position: absolute;
        right: 20%;
        top: 10%;
        transform: translate(-50% -50%);
        font-size: clamp(1.75rem, 1.3333rem + 1.9048vw, 3rem);
        font-weight: 700;
      }
      .plyr2 .score-counter{
        left: 20%;
      }
    .name-input:focus + .name-header{
      animation: animateInputSmall .7s forwards;
    }
    .announcer{
        position: absolute;
        top: calc(1rem * 2);
        left: 50%;
        transform: translateX(-50%);
        min-width: 200px;
        z-index: 10;
      }
      
      .ann-text{
        border-radius: 20px;
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 2px;
        text-align: center;
        min-width: 200px;
        opacity: 0;
      }
      .animate-showwinner{
        animation: showwinner 1s ease-out forwards;
      }

    @keyframes animateInputSmall {
        100% {
            transform: translateY(-10px) scale(.9);
            border-bottom: 2px solid transparent;
        }
        3%{
            border-bottom: 2px solid transparent;
        }
        0% {
            transform: translateY(0px) scale(1); 
            border-bottom: 2px solid #ffffff9d;
        }
    }

      @keyframes showwinner {
        0% {
          opacity: 0;
          transform: translateY(-50px) scaleX(.5);
        }
      
        30%{
          opacity: .5;
        }
        50%{
          opacity: 1;
          transform: translateY(0) scaleX(1);
        }
        100% {
          opacity: 1;
        }
      }