:root{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    &::-webkit-scrollbar{
        display: none;
    }
}
footer{
    height: 10vh;
}
.plyr1{
    width: 55%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.plyr2{
    width: 55%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}
.name-header{
        width: calc(70% - 24px);
        height: calc(50% - 24px);
        position: absolute;  
        top: 6px;
        padding: 0 10px;
        font-size: clamp(.8rem, 0.7083rem + 1.3333vw, 1rem);
    }
    .name-input{
        width: calc(70%);
        padding: 10px;
        font-weight: bolder;
        letter-spacing: 2px;
        color: azure;
        font-size: clamp(1rem, 0.7083rem + 1.3333vw, 2.875rem);
        outline: none;
        outline-offset: 0;
        text-transform: capitalize;
    }
    input:not(:focus){
        animation: animateInputSmall 1s linear .5s both;
    }
    .name-input:focus {
    animation: animateInputBig 1s linear .5s both; 
    }
    .plyr2 .name-header{
        position: absolute;
        top: 0;
        right: 0px;
        text-align: right;
    }
    .plyr2 .name-input{
        width: calc(60% - 24px);
        height: calc(100% - 24px);
        padding-top: 24px;
        position: absolute;
        bottom: 20px;
        right: 12px;  
        text-align: right; 
    }  

    @keyframes animateInputBig {
        0% {
            transform: translateY(-10px) scale(.9);
            border-bottom: 2px solid transparent;
        }
        98%{
            border-bottom: 2px solid transparent;
        }
        100% {
            transform: translateY(0px) scale(1); 
            border-bottom: 2px solid #ffffff9d;
        }
    }
    @keyframes animateInputSmall {
        100% {
            transform: translateY(-10px) scale(.9);
            border-bottom: 2px solid transparent;
        }
        3%{
            border-bottom: 2px solid transparent;
        }
        0% {
            transform: translateY(0px) scale(1); 
            border-bottom: 2px solid #ffffff9d;
        }
    }